<h3>Summernote with map plugin</h3>
{{#summernote-pad height="150" toolbar=toolbar content=content lang="th-TH" extOptions=pluginOptions onInit=(action "onInit" "hello")}}
  <p>Hello, Summernote</p>
{{/summernote-pad}}
<br/>

<h3>Content</h3>
<div>
 {{textarea cols="80" rows="10" value=content}}
</div>
