  <h3>Summernote default toolbar</h3>
    {{summernote-pad}}
  <br/>

  <h3>Summernote with map plugin</h3>
    {{summernote-pad toolbar=model.toolbar placeholder="hello" extOptions=model.extOptions}}
  <br/>
